---
import ImageParagraph from "../common/ImageParagraph.astro";

import Equipo from "../../assets/services/microneedling/equipo.avif";
import Sesion from "../../assets/services/microneedling/sesion.avif";
---

<section
    class="flex flex-col items-center md:px-6 scroll-mt-28 py-20 w-full"
    id="como-funciona"
>
    <div class="mx-auto max-w-3xl text-center mb-12">
        <h2
            class="text-3xl md:text-5xl font-medium tracking-tight text-custom-piel dark:text-custom-beige font-fira"
        >
            ¿Cómo funciona el Microneedling?
        </h2>
        <p
            class="mt-4 text-sm md:text-lg text-custom-oscuro dark:text-custom-piel font-light px-4"
        >
            Revitaliza tu piel.
        </p>
    </div>

    <div class="w-full max-w-5xl mx-auto px-4 flex flex-col gap-16 md:gap-24">
        <ImageParagraph position="left" imageSrc={Equipo} imageAlt="Equipo">
            <p
                class="text-sm md:text-lg text-custom-piel/80 dark:text-custom-beige/80 font-light leading-relaxed text-justify"
            >
                El microneedling es un tratamiento que utiliza microagujas
                controladas para crear pequeñas microperforaciones en la piel.
                Estas estimulan el proceso natural de regeneración, promoviendo
                la producción de colágeno y elastina.
            </p>
        </ImageParagraph>

        <ImageParagraph position="right" imageSrc={Sesion} imageAlt="Sesión">
            <p
                class="text-sm md:text-lg text-custom-piel/80 dark:text-custom-beige/80 font-light leading-relaxed text-justify"
            >
                Como resultado, mejora la textura de la piel, disminuye
                cicatrices de acné, líneas finas, poros visibles y aporta mayor
                firmeza y luminosidad.
            </p>
        </ImageParagraph>
    </div>
</section>
