---
import ImageParagraph from "../common/ImageParagraph.astro";

import Protector from "../../assets/services/eliminacion-micropigmentacion/protector.avif";
---

<section
    class="flex flex-col items-center md:px-6 scroll-mt-28 py-20 w-full"
    id="como-funciona"
>
    <div class="mx-auto max-w-3xl text-center mb-12">
        <h2
            class="text-3xl md:text-5xl font-medium tracking-tight text-custom-piel dark:text-custom-beige font-fira"
        >
            ¿Cómo funciona la eliminación de micropigmentación?
        </h2>
        <p
            class="mt-4 text-base md:text-lg text-custom-piel/70 dark:text-custom-beige/70 font-light px-4"
        >
            Recupera tu expresión natural.
        </p>
    </div>
    <div class="w-full max-w-5xl mx-auto px-4 flex flex-col gap-16 md:gap-24">
        <ImageParagraph position="left">
            <p
                class="text-base md:text-lg text-custom-piel/80 dark:text-custom-beige/80 font-light leading-relaxed text-justify"
            >
                La eliminación de micropigmentación con láser de picosegundos es
                un tratamiento avanzado que utiliza pulsos de energía
                ultracortos para fragmentar la tinta de cejas, ojos o labios en
                partículas microscópicas.
            </p>
        </ImageParagraph>

        <ImageParagraph position="right">
            <p
                class="text-base md:text-lg text-custom-piel/80 dark:text-custom-beige/80 font-light leading-relaxed text-justify"
            >
                Estas partículas son eliminadas de forma natural por el sistema
                linfático, permitiendo aclarar o borrar el delineado
                progresivamente, con menos sesiones, mayor eficacia en colores
                difíciles y menor daño a la piel en comparación con otros
                láseres.
            </p>
        </ImageParagraph>

        <ImageParagraph
            position="left"
            imageSrc={Protector.src}
            imageAlt="Protector de titanio"
        >
            <p
                class="text-base md:text-lg text-custom-piel/80 dark:text-custom-beige/80 font-light leading-relaxed text-justify"
            >
                En el caso de le eliminación de delineado de ojos, utilizamos un
                protector intraocular de titanio, el cual se coloca
                cuidadosamente antes de iniciar el procedimiento para proteger
                el globo ocular.
            </p>
        </ImageParagraph>
    </div>
</section>
