---
import PriceCard from "../common/PriceCard.astro";
---

<section
    class="flex flex-col items-center md:px-6 scroll-mt-28 py-20 w-full"
    id="costos"
>
    <div class="mx-auto max-w-3xl text-center mb-12">
        <h2
            class="text-3xl md:text-5xl font-medium tracking-tight text-custom-piel dark:text-custom-beige font-fira"
        >
            ¿Cuánto cuesta?
        </h2>
        <p
            class="mt-4 text-base md:text-lg text-custom-oscuro dark:text-custom-piel font-light px-4"
        >
            Conoce nuestros precios y paquetes.
        </p>
    </div>

    <div
        class="w-[calc(100vw-2em)] max-w-6xl mx-auto flex flex-col lg:flex-row gap-6 md:gap-8"
    >
        <PriceCard
            title="Cejas o Microblading"
            description="Eliminación de microblading o micropigmentación de cejas."
            price="$700 por sesión"
        />

        <PriceCard
            title="Delineado de ojos"
            description="Eliminación de delineado de ojos."
            price="$900 por sesión"
        />

        <PriceCard
            title="Delineado de labios"
            description="Eliminación de delineado de labios o full color."
            price="$700 por sesión"
        />
    </div>
</section>
