---
import "../styles/global.css";

import Layout from "../layouts/Layout.astro";

import Body from "../components/Body.astro";

import InnerMenu from "../components/common/InnerMenu.astro";

import {
    CurrencyDollarIcon,
    PencilIcon,
    PhotoIcon,
    QuestionMarkCircleIcon,
} from "@heroicons/react/24/outline";

import ComoFunciona from "../components/despigmentacion/ComoFunciona.astro";

import Costos from "../components/despigmentacion/CuantoCuesta.astro";

import Galeria from "../components/despigmentacion/Galeria.jsx";

import PreguntasFrecuentes from "../components/despigmentacion/PreguntasFrecuentes.astro";

const menuItems = [
    {
        title: "¿Cómo funciona?",
        icon: PencilIcon,
        href: "/lumina-landing/despigmentacion/#como-funciona",
    },
    {
        title: "¿Cuánto cuesta?",
        icon: CurrencyDollarIcon,
        href: "/lumina-landing/despigmentacion/#costos",
    },
    {
        title: "Galeria",
        icon: PhotoIcon,
        href: "/lumina-landing/despigmentacion/#galeria",
    },
    {
        title: "Preguntas frecuentes",
        icon: QuestionMarkCircleIcon,
        href: "/lumina-landing/despigmentacion/#preguntas-frecuentes",
    },
];

export const prerender = true;
export const seo = {
    title: `Despigmentación facial y corporal`,
    description:
        "Lumina Estudio Laser | Elimina manchas y pigmentación no deseada con nuestros tratamientos avanzados de despigmentación.",
};
---

<Layout seo={seo}>
    <Body>
        <InnerMenu
            title="Despigmentación facial y corporal"
            menuItems={menuItems}
        />
        <ComoFunciona />
        <Costos />
        <Galeria client:visible />
        <PreguntasFrecuentes />
    </Body>
</Layout>
