---
import "../styles/global.css";

import Layout from "../layouts/Layout.astro";

import Body from "../components/Body.astro";

import InnerMenu from "../components/common/InnerMenu.astro";

import {
    CurrencyDollarIcon,
    PencilIcon,
    PhotoIcon,
    QuestionMarkCircleIcon,
} from "@heroicons/react/24/outline";

import ComoFunciona from "../components/eliminacion-micropigmentacion/ComoFunciona.astro";

import Costos from "../components/eliminacion-micropigmentacion/CuantoCuesta.astro";

import Galeria from "../components/eliminacion-micropigmentacion/Galeria.jsx";

import PreguntasFrecuentes from "../components/eliminacion-micropigmentacion/PreguntasFrecuentes.astro";

const menuItems = [
    {
        title: "¿Cómo funciona?",
        icon: PencilIcon,
        href: "/eliminacion-micropigmentacion/#como-funciona",
    },
    {
        title: "¿Cuánto cuesta?",
        icon: CurrencyDollarIcon,
        href: "/eliminacion-micropigmentacion/#costos",
    },
    /*
    {
        title: "Galeria",
        icon: PhotoIcon,
        href: "/eliminacion-micropigmentacion/#galeria",
    },
    */
    {
        title: "Preguntas frecuentes",
        icon: QuestionMarkCircleIcon,
        href: "/eliminacion-micropigmentacion/#preguntas-frecuentes",
    },
];

export const prerender = true;
export const seo = {
    title: `Eliminación de micropigmentación`,
    description:
        "Lumina Estudio Laser | Elimina micropigmentación con nuestros tratamientos avanzados de eliminación de micropigmentación.",
};
---

<Layout seo={seo}>
    <Body>
        <InnerMenu
            title="Eliminación de micropigmentación"
            menuItems={menuItems}
        />
        <ComoFunciona />
        <Costos />
        <!--<Galeria client:visible />-->
        <PreguntasFrecuentes />
    </Body>
</Layout>
