---
import "../styles/global.css";

import Layout from "../layouts/Layout.astro";

import Body from "../components/Body.astro";

import InnerMenu from "../components/common/InnerMenu.astro";

import {
    CurrencyDollarIcon,
    PencilIcon,
    PhotoIcon,
    QuestionMarkCircleIcon,
} from "@heroicons/react/24/outline";

import ComoFunciona from "../components/hollywood-peel/ComoFunciona.astro";

import Costos from "../components/hollywood-peel/CuantoCuesta.astro";

import Galeria from "../components/hollywood-peel/Galeria.jsx";

import PreguntasFrecuentes from "../components/hollywood-peel/PreguntasFrecuentes.astro";

const menuItems = [
    {
        title: "¿Cómo funciona?",
        icon: PencilIcon,
        href: "/hollywood-peel/#como-funciona",
    },
    {
        title: "¿Cuánto cuesta?",
        icon: CurrencyDollarIcon,
        href: "/hollywood-peel/#costos",
    },
    /*
    {
        title: "Galeria",
        icon: PhotoIcon,
        href: "/hollywood-peel/#galeria",
    },
    */
    {
        title: "Preguntas frecuentes",
        icon: QuestionMarkCircleIcon,
        href: "/hollywood-peel/#preguntas-frecuentes",
    },
];

export const prerender = true;
export const seo = {
    title: `Hollywood Peel`,
    description:
        "Lumina Estudio Laser | Elimina manchas y pigmentación no deseada con nuestros tratamientos avanzados de despigmentación.",
};
---

<Layout seo={seo}>
    <Body>
        <InnerMenu title="Hollywood Peel" menuItems={menuItems} />
        <ComoFunciona />
        <Costos />
        <!--<Galeria client:visible />-->
        <PreguntasFrecuentes />
    </Body>
</Layout>
