---
import "../styles/global.css";

import Layout from "../layouts/Layout.astro";

import Body from "../components/Body.astro";

import InnerMenu from "../components/common/InnerMenu.astro";

import {
    CurrencyDollarIcon,
    PencilIcon,
    PhotoIcon,
    QuestionMarkCircleIcon,
    SparklesIcon,
} from "@heroicons/react/24/outline";

import ComoFunciona from "../components/microneedling/ComoFunciona.astro";

import Costos from "../components/microneedling/CuantoCuesta.astro";

import Galeria from "../components/microneedling/Galeria.jsx";

import PreguntasFrecuentes from "../components/microneedling/PreguntasFrecuentes.astro";

import QueIncluye from "../components/microneedling/QueIncluye.astro";

const menuItems = [
    {
        title: "¿Cómo funciona?",
        icon: PencilIcon,
        href: "/microneedling/#como-funciona",
    },
    {
        title: "¿Qué incluye mi sesión?",
        icon: SparklesIcon,
        href: "/microneedling/#que-incluye",
    },
    {
        title: "¿Cuánto cuesta?",
        icon: CurrencyDollarIcon,
        href: "/microneedling/#costos",
    },
    /*
    {
        title: "Galeria",
        icon: PhotoIcon,
        href: "/microneedling/#galeria",
    },
    */
    {
        title: "Preguntas frecuentes",
        icon: QuestionMarkCircleIcon,
        href: "/microneedling/#preguntas-frecuentes",
    },
];

export const prerender = true;
export const seo = {
    title: `Microneedling (Dermapen)`,
    description:
        "Lumina Estudio Laser | Renueva tu piel con Microneedling (Dermapen). Tratamiento profesional para mejorar textura, cicatrices y líneas finas.",
    canonical: "https://luminaestudiolaser.com/microneedling/",
};
---

<Layout seo={seo}>
    <Body>
        <InnerMenu title="Microneedling (Dermapen)" menuItems={menuItems} />
        <ComoFunciona />
        <QueIncluye />
        <Costos />
        <!--<Galeria client:visible />-->
        <PreguntasFrecuentes />
    </Body>
</Layout>
